<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <mat-card *ngIf="dish">
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
<div fxFlex="40">
  <div fxFlex="40">
      <h1>Comments</h1>
      <div class="comment-section" *ngFor="let comment of dish.comments">
        <p>{{comment.comment}}</p>
        <p>{{comment.rating}} Stars</p>
        <p>-- {{comment.author}} {{comment.date | date}}</p>
      </div>
    </div>
  <p>Next details</p>
</div>
  
</div>